<% cache do %>

<div class = "headerdiv">			
			<div class = "col-lg-6 col-md-12 col-sm-12 col-xs-12" id = "leftheaderdiv">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/tdclogo3d2.svg" id = "mainlogo"/>
			</div>
			<div class = "col-lg-6 col-md-12 col-sm-12 col-xs-12" id = "leftheaderdiv">
				<p id = "headerdivp">JOIN OUR TEAM!</p>				
			</div>
</div>

<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "padding: 1em; background-color: white;">

	<div class="indeedjobs-widget" data-id="ed3ae68869f87068932e" data-theme="light" data-height="700"></div> <script> (function(d, id) { if (d.getElementById(id)) return; var js = d.createElement('script'); js.id = id; js.src = 'https://www.indeedjobs.com/widget.js'; d.head.appendChild(js); })(document, 'indeedjobs-js'); </script>


</div>

<% end %>