<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" id = "ourbrands">
	
	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

	<strong><p style = "margin-top: 3%; margin-bottom: 3%; font-size: 4em; color: #1CB5E0; text-align: center;">FEATURED CLIENTS</p></strong>
					
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 1px solid #f0f0f0; background-color: #00d4aa;">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/wolcott_withbg.svg" class = "hvr-grow" style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px;font-family: 'Playfair Display', serif; color: white;">Wolcott Auto Inc</p></strong>
				</div>
			</div>

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 1px solid #f0f0f0; background-color: #ffcc00;">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/hunts_withbg.svg" class = "hvr-grow" style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px;font-family: 'Playfair Display', serif; color: white;">Hunt Auto Sales</p></strong>
				</div>
			</div>
			
	</div>

	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 1px solid #f0f0f0; background-color: #ff9a02;">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/cny_withbg.svg" class = "hvr-grow" style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px;font-family: 'Playfair Display', serif; color: white;">CNY Auto Group</p></strong>
				</div>
			</div>

					
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 1px solid #f0f0f0; background-color: white;">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/arizona_withbg.svg" class = "hvr-grow" style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px;font-family: 'Playfair Display', serif; color: #53bcfd;">Arizona Auto Group</p></strong>
				</div>
			</div>			
	</div>

	

	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" id = "worktogether">

			<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<p style = "font-size: 4em; margin: 1em; font-weight: bold; color: white;">PROJECT PLANNER</p>		
			</div>

			<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12" >
					<p style = "font-size: 1.5em; margin-left: 2.5em; font-weight: bold; color: white; font-family: 'Playfair Display', serif;">Let's create something awesome together!</p>
				</div>
				<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12" style = "text-align: center;">
					<%= link_to "Get Started", new_request_path, class: "btn btn-default btn-lg" %>
				</div>

			</div>

						
			
	</div>

</div>
