<div class = "row headerdiv align-items-center">				
			<div class = "col-lg-6 col-md-12 col-sm-12 col-xs-12 leftheaderdiv">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/tdclogo3d2.svg" id = "mainlogo"/>
				<p id = "headerdivp">TDC DIGITAL MEDIA</p>	
			</div>
			<div class = "col-lg-6 col-md-12 col-sm-12 col-xs-12 leftheaderdiv">
				<p id = "headerdivp">TDC DIGITAL MEDIA</p>				
			</div>
</div>