<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" id = "ourbrands">
	
	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

	<strong><p style = "margin-top: 3%; margin-bottom: 3%; font-size: 4em; color: #1CB5E0; text-align: center;">OUR SOLUTIONS</p></strong>
					
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #00d4aa;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px; color: white;">WEBSITE MIGRATIONS</p></strong>

				</div>
			</div>

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #ff9a02;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px; color: white;">UX/UI DESIGN</p></strong>
				</div>
			</div>
			
	</div>
	
	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #ff9a02;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px; color: white;">SOFTWARE DEVELOPMENT</p></strong>
				</div>
			</div>

					
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: skyblue;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px; color: white;">SUPPORT & MAINTAINENCE</p></strong>
				</div>
			</div>			
	</div>

	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #f900ca;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px; color: white;">BRAND & LOGO DESIGN</p></strong>
				</div>
			</div>

					
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #5dfe9d;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px; color: white;">FRONT END DEVELOPMENT</p></strong>
				</div>
			</div>			
	</div>


	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #00e4ff;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px; color: white;">E COMMERCE APPLICATION DEVELOPMENT</p></strong>
				</div>
			</div>

					
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #000046;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
				<strong><p style = "font-size: 15px; color: white;">RESPONSIVE WEB APPLICATION DEVELOPMENT</p></strong>
					
				</div>
			</div>			
	</div>
	

</div>
