<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" id = "whatwedo">

	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<strong><p style = "margin-top: 2%; font-size: 4em; color: #1CB5E0; text-align: center;">WHAT WE DO</p></strong>		

		<div class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">
		</div>

			<%= link_to brand_path do %>
				<div class = "col-lg-4 col-md-4 col-sm-4 col-xs-8" style = "border-bottom: 1px solid #f0f0f0;">
					<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/brand_management.svg" class = "hvr-grow" style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
					<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
						<strong><p style = "font-size: 15px; font-family: 'Playfair Display', serif; color: black;" >Brand Development</p></strong>
					</div>
				</div>
			<% end %>

			<%= link_to consulting_path do %>

				<div class = "col-lg-4 col-md-4 col-sm-4 col-xs-8" style = "border-bottom: 1px solid #f0f0f0; border-left: 1px solid #f0f0f0;">
					<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/web_app_development.svg" class = "hvr-grow"  style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
					<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
						<strong><p style = "font-size: 15px; font-family: 'Playfair Display', serif; color: black;">Web & Software Consulting</p></strong>
					</div>
				</div>

			<% end %>
			
		<div class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">
		</div>
	</div>

	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<div class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">
		</div>

		<%= link_to salesmarketing_path do %>
			
			<div class = "col-lg-4 col-md-4 col-sm-4 col-xs-8" >
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/sales_marketing.svg" class = "hvr-grow"  style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px; font-family: 'Playfair Display', serif; color: black;">Sales & Marketing</p></strong>
				</div>
			</div>
		<% end %>

		<%= link_to modernization_path do %>

			<div class = "col-lg-4 col-md-4 col-sm-4 col-xs-8" style = "border-left: 1px solid #f0f0f0;">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/tech_stack_modernizations.svg" class = "hvr-grow"  style = "height: 100%; width: 100%; padding: 10%; margin: auto auto;"/>
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px; font-family: 'Playfair Display', serif; color: black;">Tech Stack Modernization</p></strong>
				</div>
			</div>

		<% end %>

		<div class = "col-lg-2 col-md-2 col-sm-2 col-xs-2">
		</div>

	</div>

</div>