<% cache do %>

<div class = "headerdiv">			
			<div class = "col-lg-6 col-md-12 col-sm-12 col-xs-12" id = "leftheaderdiv">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/web_app_development_withoutbg2.svg" id = "mainlogo"/>
			</div>
			<div class = "col-lg-6 col-md-12 col-sm-12 col-xs-12" id = "leftheaderdiv">
				<p id = "headerdivp">WEB & SOFTWARE CONSULTING</p>				
			</div>
</div>



<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "background-color: white;">

	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
		<p style = "font-size: 4em; margin: 0.5em; font-weight: bold; color:#1cb5e0 ; text-align: center;">YOUR FULL STACK DEVELOPMENT PARTNER!</p>		
	</div>
	
	<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12" id = "leftheaderdiv" style = "margin-top: 1%; text-align:center;">
		
		<p style = "font-size: 1.1em; line-height: 1.7em; font-weight: bold; color: #000046; margin: 1em; text-align: justify; font-family: 'Playfair Display', serif;">
		Our team is your team. Complete tech migrations for your old webste or software, solid foundations, creating minimum viable products and extending the expertise and skill of established development teams is why our customers rely on our team for ongoing and brand new development initiatives. Our design team specialize in providing custom graphics, UX designs, logo and brand building solutions tailored especially to the needs of small businesses. </p>
	</div>

	<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12" id = "rightheaderdiv" style = "margin-top: 1%; text-align:center;">
		
		<p style = "font-size: 1.1em; line-height: 1.7em; font-weight: bold; color: #000046; margin: 1em; text-align: justify; font-family: 'Playfair Display', serif;">
		 We create software source code that is easily testable, highly maintainable and resilient against changing business requirements. We encourage designer and developer best practices that promote solid architecture and ease of maintenance. Whether you're looking to fix an existing app, build your brand starting from logo or build the next generation of your platform, we provide the complete solutions you are looking for. </p>
	</div>

</div>


<%= render 'whatwedo/oursolutions'%>


<%= render 'whatwedo/clients'%>
<% end %>