<% cache do %>

<div class = "headerdiv">			
			<div class = "col-lg-6 col-md-12 col-sm-12 col-xs-12" id = "leftheaderdiv">
				<img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/sales_marketing_withoutbg.svg" id = "mainlogo"/>
			</div>
			<div class = "col-lg-6 col-md-12 col-sm-12 col-xs-12" id = "leftheaderdiv">
				<p id = "headerdivp">SALES & MARKETING</p>				
			</div>
</div>

<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" id = "ourbrands" >

	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

		<strong><p style = "margin-top: 3%; margin-bottom: 3%; font-size: 4em; color: #1CB5E0; text-align: center;">SALES & MARKETING SOLUTIONS</p></strong>
					
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #00d4aa;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px; color: white;">CONTENT MARKETING</p></strong>

				</div>
			</div>

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #ff9a02;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px; color: white;">EMAIL MARKETING</p></strong>
				</div>
			</div>
			
	</div>

	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #f900ca;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px; color: white;">SOCIAL MEDIA MARKETING</p></strong>
				</div>
			</div>

					
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #5dfe9d;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px; color: white;">SEO & ANALYTICS</p></strong>
				</div>
			</div>			
	</div>

	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #ff9a02;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">				
					<strong><p style = "font-size: 15px; color: white;">MARKETING RESEARCH</p></strong>
				</div>
			</div>

					
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: skyblue;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
					<strong><p style = "font-size: 15px; color: white;">SEO RESEARCH</p></strong>
					
				</div>
			</div>			
	</div>


	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #00e4ff;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">	<strong><p style = "font-size: 15px; color: white;">CUSTOMER RETARGETING</p></strong>		
				</div>
			</div>

					
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" style = "border: 0.5em solid white; background-color: #000046;">
				
				<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "margin-top: 1%; text-align: center;">
				<strong><p style = "font-size: 15px; color: white;">SALES & MARKETING TRAINING</p></strong>
					
				</div>
			</div>			
	</div>
	

</div>


<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "background-color: white; padding-top: 5em;">

	<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >			
			<p style = "font-size: 4em; margin: 0.5em; font-weight: bold; color:#1cb5e0 ; text-align: center;">SALES & MARKETING DONE RIGHT!</p>		
	</div>
	
	<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12" id = "leftheaderdiv" style = "margin-top: 1%; text-align:center;">
		
		<p style = "font-size: 1.1em; line-height: 1.7em; font-weight: bold; color: #000046; margin: 1em; text-align: justify; font-family: 'Playfair Display', serif;">
		Our sales and marketing team work hard to make our brands successful each day and help us achieve our visions. Through experiences running successful digital and face to face campaigns for internal brands as well as helping our clients, using predictive targeting using our internal softwares and relying on a data driven sales pipeline acceleration strategiy, our sales and marketing team selects the most suitable campaign for a brand to help achieve its potential. To help you achieve success as well, we provide the expertise our team has for you as well. We will help you attract future customers to your website or brand through customized SEO analytics, holistic advertising, lead generation marketing, email marketing, guerilla marketing as well as data backed social media campaigns to help your brands achieve the success it deserves. We identify the most valuable keywords and graphics over web and social media and customize the strategies depending upon the targeted market which helps attract more customers to our clients doors. 

 </p>
	</div>

	<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12" id = "rightheaderdiv" style = "margin-top: 1%; text-align:center;">
		
		<p style = "font-size: 1.1em; line-height: 1.7em; font-weight: bold; color: #000046; margin: 1em; text-align: justify; font-family: 'Playfair Display', serif;">
		 Our SEO marketers constantly work hard and research on evolving our seo strategies for our brands as well as our client's brands. These data backed seo strategies helps ensure the website or software is optimized for search engines and has the best chance to rank for the search terms being targeted. Our optimized and enhanced process will help get the results your business wants. Using our extensive marketing strategies for Google, Yahoo!, Bing, GPS devices, social media and the online yellow pages, we take care of your marketing needs and help your business get promoted in all the places your customers can go online. We work hand in hand with our clients to help them understand why we are using a particular startegies and how it will impact the results. We also help them understand what they can do differently to get a bigger customer reach and thus a greater profit. </p>
	</div>

</div>



<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" id = "worktogether">

			<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<p style = "font-size: 4em; margin: 1em; font-weight: bold; color: white;">FACING SALES & MARKETING PROBLEMS ?</p>		
			</div>

			<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12" >
					<p style = "font-size: 1.5em; margin-left: 2.5em; font-weight: bold; color: white; font-family: 'Playfair Display', serif;">Lets us help you get more customers!</p>
				</div>
				<div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12" style = "text-align: center;">
					<%= link_to "Get Started", new_request_path, class: "btn btn-default btn-lg" %>
				</div>

			</div>

						
			
	</div>


<% end %>